html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;

    font-size: 21px;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

h3, h4 {
	margin:0;
}
p {
	margin:0 0 10px 0;
}
.map {
	height:600px;
	border:16px solid #fff;
}
.map-legend {
	text-align:center;
}
.location {
	padding:24px;
	border-left:16px solid #fff;
	border-right:16px solid #fff;
	background-size:cover;
	background-position:center center;
	position:relative;
	color:white;
}
.location-1 {
	background-color:#554738;
	background-image:url( 'images/1วัดกุฎีดาว.jpg');
    border-top: 16px solid white;
}
.location-2 {
	background-color:#383838;
	background-image:url( 'images/2วัดมเหยงคณ์.jpg');
    border-top: 16px solid white;
}
.location-3 {
    background-color:#554738;
    background-image:url( 'images/3วัดมหาธาตุ.jpg');
    border-top: 16px solid white;
}
.location-4 {
    background-color:#383838;
    background-image:url( 'images/4วัดโลกยสุธาราม.jpg');
    border-top: 16px solid white;
}
.location-5 {
    background-color:#554738;
    background-image:url( 'images/5วัดราชบูรณะ.jpg');
    border-top: 16px solid white;
}
.location-6 {
    background-color:#383838;
    background-image:url( 'images/6วัดพระราม.jpg');
    border-top: 16px solid white;
}
.location-7 {
    background-color:#383838;
    background-image:url( 'images/7วัดพระศรีสรรเพชญ์.jpg');
    border-top: 16px solid white;
}

.location::after {
	content:"";
	background-color:inherit;
	opacity:.65;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.location--inner {
	position:relative;
	z-index:1;
}
.location img {
	display:inline-block;
	margin:24px 0 12px;
	/* setting width and height instead results in a strange behavior in Safari */
	-webkit-transform:scale(2);
	transform:scale(2);	
}

@media screen and (min-width: 1024px) {
	
	.map, .map-legend {
		height:100%;
	}
	.desk-three-forth {
		float: left;
		width:60%;
	}
	.desk-one-forth {
		width:40%;
	}
	.map-legend, .location {
		display:flex;
		flex-direction:column;
        overflow: scroll;
	}
	.location {
		border-left:none;
		min-height:98.5%;
		justify-content:center;
		align-items:center	
	}
	.location-1, 
    .location-2, 
    .location-3, 
    .location-4,
    .location-5,
    .location-6,
    .location-7
     {
		border-bottom:8px solid white;
	}
}

/* if using sprites */
.marker-icon {
	background-image:url("images/markers/svg/Arrows.svg");
	display:inline-block;
	width:48px;
	height:48px;
	margin:24px 0 12px;
	/* setting background-size instead results in a strange behavior in Safari */
	-webkit-transform:scale(2);
	transform:scale(2);
}
.marker-office {
	background-position:48px 0;
}